body {
    background-image: url(image.jpg);
    background-size: 1600px 1080px;
    background-repeat: no-repeat;
    backdrop-filter: blur;
}

header {
    background-color: black;
    padding: 5px 0px 5px 10px;
    border-radius: 4px;
    margin: -9px -9px 0px -10px;


}
.navigation{
    padding: 0px;
}

.navigation ul li a {
    float: left;
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 5px;
    font-size: 20px;

}

.navigation ul {
    list-style: none;
    padding: 5px;
}

insert {
    padding: 0px 0px 0px 25px;
}

#li1 {
    padding: 0px 35px 0px 0px;
}

#li2 {
    padding: 0px 35px 0px 0px;
}

#li3 {
    padding: 0px 35px 0px 0px;
}

#li4 {
    padding: 0px 890px 0px 0px;
}
#li5 {
    padding: 0px 0px 0px 0px;
}
#li6 {
    padding: 10px 10px 10px 10px;
    inline-size: auto;
    box-sizing: border-box;
    size-adjust: 25px;
}